@font-face{
  font-family: Didot;
  src: url(Didot.ttf)
}
@font-face{
  font-family: DidotItalic;
  src: url(DidotItalic.ttf)
}

@font-face {
    font-family: HighTide;
    src: url(highTideD.ttf);
}


* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #ffdfe0; */
}
.containeR {
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: #ffdfe0; */
  text-align: center;
  padding: 50px;
  padding-bottom: 2em;

}


#main {
  margin: .6em 0;
  font-family: HighTide;
  font-size: 2.7em;
  display: inline-block;
  text-decoration: none;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
}
nav h3 {
  margin: .7em 0;
  font-size: 0.7m;
  font-family: HighTide;
  font-weight: normal;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: monospace;
  font-size: 1em;
  margin-bottom: 2px;
  transition: 0.3s;
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
}

nav a:hover {
  text-decoration: underline;
}

nav li {
  display: inline-block;
  margin: 0 .5em;
  position: relative;
  bottom: 2px;
}

nav span {
  margin: 0 2px;
   -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
}

/* timeline shit */
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
  margin: 0;
  font-family: PT Sans, sans-serif;
  background-color: #fcfcfc;
  color: #000;
}

.container {
  margin-top: 1.3em;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.container::-webkit-scrollbar {
  height: 45px;
}
.container::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 100%;
  border: 20px solid transparent;
}

.entries {
  margin-right: -10000px;
  margin-left: 1rem;
}

.timeline {
  top: 11px;
  position: relative;
  box-sizing: border-box;
  /* width: 84%; */
  height: 0.7rem;
  background-color: beige;
  background-clip: content-box;
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(0, 0, 0, 0.1);
}

.entry {
  float: left;
  max-width: 170px;
  position: relative;
  text-align: center;
  margin: 0 1rem;
  margin-top: 0.7rem;
}
.entry .dot {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: powderblue;
  left: 50%;
  margin-left: -0.6rem;
  margin-top: -0.95rem;
  border-radius: 100%;
  box-sizing: border-box;
  background-clip: content-box;
  border-width: 0.16rem;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(255, 255, 255, 0.1), inset 0 0.4rem 0.1rem rgba(255, 255, 255, 0.3);
  -moz-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -o-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -webkit-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
}

.entry:hover .dot {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -0.8rem;
  margin-top: -1.15rem;
  background-color: #009a93;
}
.entry:hover .label {
  margin-top: 2.5rem;
  background-color: #d0e8e4;
  border-bottom: 0.5rem solid transparent;
}

.label {
  display: inline-block;
  position: relative;
  background-color: #E1F0EE;
  background-clip: padding-box;
  margin-top: 3rem;
  padding: 0.4rem 0.8rem 0.8rem;
  border-radius: 0.2rem;
  -moz-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -o-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -webkit-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  border-bottom: 0 solid transparent;
}
.label .time {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  margin: 0 0 0.4rem;
  padding: 0 0.3rem 0.3rem;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.label .detail {
  font-size: 1rem;
  font-family: monospace;
}
.label:before {
  content: '';
  display: block;
  position: absolute;
  background-color: inherit;
  background-clip: content-box;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  left: 50%;
  margin-top: -0.9rem;
  margin-left: -0.5rem;
  transform-origin: center;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}
.label a {
  color: #000;
  text-decoration: none;
}
.label a:before {
  content: '[';
}
.label a:after {
  content: ']';
}

.entry.life .label {
  background-color: #e1f0e4;
}

.entry.life:hover .label {
  background-color: #d0e8d5;
}

.entry.study .label {
  background-color: #e1e8f0;
}

.entry.study:hover .label {
  background-color: #d0dbe8;
}

/* end of timeline */

.onsplash  { 
  margin-top: 1em;
  /* background-color: red; */
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1484199383121-dfa3c30608cd?w=1489);
  background-size: cover;
  background-position: center center;
}
  .onsplash-content  { 
    max-width: 50%;
    text-align: center;
  }

  .background { 
    background-color: #009a93;
    /* background-image: url(quotes.png); */
    /* background-position: center center; */
    /* background-size: contain; */
    /* transform:skewX(170deg); */
  }


  .quoteModule { 
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quoteModule h2 { 
    font-family: DidotItalic;
    font-size: 2.5em;
    color: white;
    font-weight: lighter;
   
  }

  .quoteModule h2 , footer, .seperator { 
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
  }
  
  .quoteModule footer { 
    font-family: DidotItalic;
    color: white;
    font-size: 1.5em;
    text-align: right;
    
  }

  .seperator  { 
      display: block;
      width: 25em;
      height: 1px;
      background-color: white;
      margin: 1em;
      position: relative;
      left: 19em;
  }

  #me { 
    max-width: 25em;
    float: left;
    margin: 1em;
    margin-right: 5em;
  }

  .midContent p  { 
    font-family: monospace;
    font-size: 13px;
    text-align: justify;
    text-indent: 3em;

  }

  .midContent > p { 
    margin-bottom: 1em;
  }

  .midContent h1 { 
    margin-bottom: 1em;
    font-family: Hightide;
    word-spacing: 0.3em;
    margin-top: 1em;
  }


 

  #timelineTitle { 
    font-family: Hightide;
    margin-top: 3em;
  }

  #footer { 
      height: 15em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #009a93
  } 

  .footerContent h1 { 
    font-family: monospace;
    font-weight: normal;
    margin-bottom: 1em;
    display: inline-block;
  }

  .footerContent a   { 
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    display: block;
    /* color: black; */
  }
  .footerContent i { 
    font-size: 1.5rem;
  }

  #volley, #earth, #weight ,#guitar { 
    top: 3px;
  }

#copyright { 
  font-size: 12px;
  color: darkslategrey;
  margin-top: 2em;
}

#waves  > img { 
  max-width: 50px;
  margin-bottom: 1em;
}

/* Coffee @ Footer Stuff */


/* Actual Coffee Cup */
.coffee-mug {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 2em;
  height: 1em;
  border-radius: .05em .05em 3em 3em;
  box-shadow: 0 0 0 0.3em #e67e22;
  left: 1em;
}

/* Coffee Cup's Handle */

.coffee-mug:after {
  content: '';
  display: block;
  position: absolute;
  left: 90%;
  top: 0.3em;
  width: 0.4em;
  height: 0.4em;
  box-shadow: 0 0 0 0.3em #e67e22;
  margin-left: .5em;
  border-radius: 0 50% 50% 0;
}
.coffee-mug .coffee-container {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #FFF;
  border-radius: .05em .05em 3em 3em;
}

/* Coffee inside cups */
.coffee-mug .coffee {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111;
  animation: coffee-load 3.3s infinite;
}
.coffee-mug .coffee:before {
  content: '';
  display: block;
  width: 200%;
  height: 1em;
  position: absolute;
  left: -50%;
  top: -.5em;
  background: #FFF;
  animation: coffee-wave .8s ease-in-out infinite;
  border-radius: 50%;
}

/* Coffee Animation Keys */

@keyframes coffee-load {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(30%);
  }
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes coffee-wave {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
