* {
  margin: 0;
  padding: 0;
}

.corset {
  width: 100vw;
  height: 100vh;
  background-color: ivory;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container{
  width: 50vw;
  height: 50vh;
  background-color: white;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  padding: 10px;

}

.border-outside {
  border: 2px solid black;
  padding: 1px;
}

.border-inside {
  height: -webkit-fill-available;
  border: 1px solid black;
  padding: 10px;
}

.border-inside img {
  float: left;
  width: 200px;
  margin-right: 10px;
}
